langchain_community
langchain_core
langchain_groq
langchain-huggingface
langchain-chroma
langgraph
langsmith
chromadb

# Backend Dependencies
fastapi
uvicorn
Requests

# Python Dependencies
python-dotenv

# Embedding Dependencies
tf-keras
sentence_transformers
hf_xet
pypdf
pillow