pysqlite3-binary
langchain-community
langchain_core
langchain_groq
langchain-huggingface
langchain-chroma
langchainhub
langgraph
langsmith
streamlit

# Backend Dependencies
fastapi
uvicorn
Requests

# Python Dependencies
python-dotenv
pandas

# RAG dependencies
tf-keras
sentence_transformers
hf_xet
pypdf
pillow
chromadb

